* {
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	line-height: 24px;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.header {
	background-image: url(../images/background.png);
	min-height: 793px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.header__top {
	display: flex;
	justify-content: space-between;
	height: 100px;
	-ms-align-items: center;
	align-items: center;
}

.menu__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.menu__list li + li {
	padding-left: 50px;
}

.menu__list a {
	opacity: .5;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	transition: all .5s;
}

.menu__list a:hover {
	opacity: 1;
}

.login {
	margin-right: 44px;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
}

.sign-up {
	text-transform: uppercase;
	font-weight: 600;
	color: #250F8A;
	background-color: #fff;
	padding: 8px 44px;
	border-radius: 22px;
}

.header-slider {
	padding-top: 111px;
}

.header-slider__item {

}

.header-slider__item-content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.header-slider__item-info {
	max-width: 506px;
	color: #fff;
}

.header-slider__title {
	font-size: 45px;
	line-height: 60px;
	font-weight: 700;
	margin-bottom: 10px;
}

.header-slider__description {
	line-height: 50px;
	font-size: 24px;
	margin-bottom: 60px;
}

.header-slider__btn {
	color: #250F8A;
	font-weight: 600;
	text-transform: uppercase;
	padding: 13px 39px;
	background-color: #FFCA00;
	border-radius: 25px;
}

.header-slider__item-images {
	margin: 10px 82px 0 0;
}

.header-dots {
	list-style: none;
	position: absolute;
	right: 0;
	top: 50%;
}

.header-dots button {
	border: none;
	background-color: #fff;
	opacity: .5;
	font-size: 0;
	padding: 0;
	width: 7px;
	height: 7px;
	border-radius: 3.5px;
	cursor: pointer;
	outline: none;
	margin: 10px auto;
	display: block;
}

.header-dots .slick-active button {
	width: 15px;
	opacity: 1;
}

.specialised {
	padding: 55px 0 93px;
	background-image: url(../images/specialised-bg.svg);
	background-position: left bottom;
	background-repeat: no-repeat;
	color: #202020;
	text-align: center;
}

.specialised__title {
	margin-bottom: 96px;
}

.title {
	line-height: 45px;
	font-size: 35px;
	font-weight: 700;
	text-align: center;
}

.specialised__items {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	max-width: 980px;
	margin: auto;
}

.specialised__item {
	width: 280px;
}

.specialised__item-img {
	margin-bottom: 23px;
	min-height: 159px;
}

.specialised__item-title {
	margin-bottom: 11px;
	font-size: 20px;
	font-weight: 700;
}

.specialised__item-text {
	padding: 0 10px;
	color: #272727;
	opacity: .7;
}

